/* @import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap'); */

.mapboxgl-map {
  font-family: "Coiny", system-ui;
  font-weight: 300;
  font-style: normal;
  margin: 0; padding: 0;
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100vw;
  height: 100vh;
}

.the-header {
  position: fixed; /* Fix the header at the top */
  top: 0; /* Align the header to the top of the viewport */
  width: 100%; /* Ensure the header spans the full width */
  z-index: 1000; /* Ensure the header is above other content */
}

.header {
  background-color: #5271FF;
  padding: 5px;
  text-align: center;
}

/* place login-button on right */
.login-button {
  font-family: "Coiny", system-ui;
  font-weight: 300;
  font-style: normal;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px 15px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: #000000;
}

.header-image {
  height: 40px;
  margin-right: 10px;
}

.navtab {
  background-color: #E665B4;
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
  border-bottom-left-radius: 10px;  /* Add this line */
  border-bottom-right-radius: 10px;  /* Add this line */
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);  /* Add this line */
}

.navtab a h2 {
  display: inline-block;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  color: #fff;
}

.floating-icon-left {
  position: fixed;
  bottom: 20px;
  left: 10px;
  z-index: 100;
}

.floating-icon-right {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 100;
}

.content {
  margin-top: 50px;
  background-color: #0D1437;
  color: #fff;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 20px;
}

.mapboxgl-ctrl {
  font: 12px/20px Helvetica Neue,Arial,Helvetica,sans-serif !important;
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
  .about-us {
    padding: 10px !important;
  }

  .content {
    font-size: small;
    padding: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}